body, html{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
}

/*navbar*/

nav{
  height: 100vh;
  background: rgb(43, 43, 63);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav .logo-container,
nav .controls-container {
  padding:  40px 25px;
  display: flex;
  flex-direction: column;
}

nav .logo-container,
nav .logo-img {
  width: 20px;
}

nav .icon {
  color: rgb(214, 214, 214);
  
}

/*dashboard*/

.dashboard {
  padding: 30px;
  width: 100%;
}

.dashboard .ticket-container{
  height: 80vh;
  overflow: scroll;
}


/*ticket card*/

.ticket-card {
  display: flex ;
  width: 100%;
}